/*FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* basic colors used 
text-color:#64ffda
background-color:#0a192f
CTA:
#415a77
#0d1b2a
#1c7293
#262626


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  color: #333;
  line-height: 1;
  font-weight: 400;
  background-color: #0a192f;
}

/* ******************************************* *
RESUABLE  CODE
***********************************************/
.grid {
  display: grid;
  gap: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
/* main {
  background-color: #0a192f;
} */
/* header section */
.header {
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  height: 9.6rem;
}
.logo-img {
  height: 8.2rem;
  transition: all 0.4s;
  /* width: 3.2rem;
  border-radius: 50%; */
}
.logo-img:hover {
  height: 9.2rem;
}
.main-nav {
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f0fffb;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #64ffda;
}
/* section hero */
.hero-section {
  padding: 0 9.6rem;
}
.hero {
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.hero-text {
}
.sub-heading {
  font-size: 1.8rem;
  color: #64ffda;
}
.primary-heading {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 1.2rem;
}
.heading-span {
  font-size: 6.2rem;
  font-weight: 700;
  color: #bbbaba;
  margin-bottom: 3.2rem;
  display: inline-block;
}
.hero-description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #bbbaba;
  letter-spacing: 0.75px;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #5ae6c4;
  border: 2px solid #64ffda;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  display: inline-block;
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  background: #286657;
  color: #fff;
}
/* .hero-img {
  background-image: url("../img/hero/753.jpg");
  background-size: cover;
  background-position: center;
} */
.hero-container {
  position: relative;
}
.hero-img {
  position: fixed;
  height: 250px;
}
/*------img one---------*/
.hero-img-one {
  transform: translateY(112px) translateX(49px) scale(1);
  z-index: 20;
  transition: all 0.4s;
  outline: 2px solid rgb(23, 0, 128);
  outline-offset: 1.5rem;
}
.hero-img-one:hover {
  z-index: 20;
  outline: 2px solid #7ed56f;
  transform: translateY(112px) translateX(49px) scale(0.9);
}

/*------img two---------*/
.hero-img-two {
  transform: translateY(2px) translateX(92px) scale(0.9);
  z-index: 15;
  transition: all 0.4s;
  outline-offset: 1.5rem;
}
.hero-img-two:hover {
  outline: 2px solid #7ed56f;
  z-index: 25;
  transform: translateY(2px) translateX(92px) scale(1);
}

/*------img three---------*/
.hero-img-three {
  transform: translateY(258px) translateX(7px) scale(0.9);
  z-index: 10;
  transition: all 0.4s;
  outline-offset: 1.5rem;
}
.hero-img-three:hover {
  z-index: 25;
  outline: 2px solid #7ed56f;
  transform: translateY(258px) translateX(7px) scale(1);
}
